<style>

#searchbtn {
    background-color: lightyellow;
    color:black
    }

#search {
    background-color: lightyellow;
    }
    .bg-dark {
    color: lightyellow;
    }
    .bg-secondary {
    color: lightyellow;
    }
    .add-form {
    background-color: lightyellow;
    }
    .navbar-brand {
    color: lightyellow;
    }

</style>
<!-- <a id="add-beg" name="add-beg"></a> -->
<!-- <div class="container"> -->
    <nav class="navbar navbar-dark bg-dark flex-column flex-sm-row">
        <div class="container-fluid">
            <a class="navbar-brand flex-sm-fill text-sm-left">SADSD Information Management System</a>
            <!-- <form class="form-inline d-flex flex-column flex-sm-row">
                <input class="form-control me-2 flex-sm-fill text-sm-left" type="search" id="search" placeholder="Search By Last Name" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 flex-sm-fill text-sm-left" type="submit" id="searchbtn">Search</button>
            </form> -->
        </div>
    </nav>
<!-- </div> -->

<div class="jumbotron jumbotron-fluid">
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-4">
                <!-- <img src="assets\images\sadsd_logo.jpg" alt=""> -->
            </div>
            <div class="col-8 p-md-5">
        <h1 class="display-4">Thanks For Using Our</h1>
        <h1 class="display-4">Student Records Management Application</h1>
        <p class="lead font-weight-bold">Please remember that student information is <b><i>CONFIDENTIAL!</i></b></p>
        <p class="lead font-weight-bold"><b><i>Only for authorized personnel</i></b> conducting official San Antonio Dependent School District (SADSD) business.</p>
    </div>
</div>
</div>
<!-- </div> -->

<!-- <div class="container-sm"> -->
    <div class="bg-dark">
        <h3 class="bg-dark border border-dark text-center">Student Record</h3>
        <br>
    </div>
    <form (ngSubmit)="savedStudent()" class="add-form">
        <!-- <div class="form-group p-md-5"> -->
        <div class="form-group">
            <div class="row g-3 justify-content-evenly">
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">First Name</label> -->
                    <label for="firstName" class="form-label text-dark">First Name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control border border-dark bg-dark"
                    required minlength="2" pattern ="[a-zA-Z ]*"
                    [(ngModel)]="newStudent.firstName" #firstName="ngModel">
                
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                    class="alert">

                        <div *ngIf="firstName.errors?.pattern">
                        First Name needs to be a string.
                        </div>
                        <div *ngIf="firstName.errors?.required">
                        First Name is required.
                        </div>
                        <div *ngIf="firstName.errors?.minlength">
                        First Name must be at least 2 characters long.
                        </div>
                        <div *ngIf="firstName.errors?.forbiddenName">
                        First Name cannot be.
                        </div>
                
                    </div>
                </div>

                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">Last Name</label> -->
                    <label for="lastName" class="form-label text-dark">Last Name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control border border-dark bg-dark"
                    required minlength="2" pattern ="[a-zA-Z ]*"
                    [(ngModel)]="newStudent.lastName" #lastName="ngModel">
                    
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                    class="alert">
                
                    <div *ngIf="lastName.errors?.pattern">
                        Last Name needs to be a string.
                        </div>
                        <div *ngIf="lastName.errors?.required">
                        Last Name is required.
                        </div>
                        <div *ngIf="lastName.errors?.minlength">
                        Last Name must be at least 2 characters long.
                        </div>
                        <div *ngIf="lastName.errors?.forbiddenName">
                        Last Name cannot be.
                        </div>
                
                    </div>

                </div>
            <div class="row g-3 justify-content-evenly">
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">Student ID</label> -->
                    <label for="studentID" class="form-label text-dark">Student ID</label>
                    <input type="text" id="studentID" name="studentID" class="form-control border border-dark bg-dark"
                    required minlength="6" pattern="^[0-9]*$"
                    [(ngModel)]="newStudent.studentID" #studentID="ngModel">
                    
                    <div *ngIf="studentID.invalid && (studentID.dirty || studentID.touched)"
                    class="alert">

                        <div *ngIf="studentID.errors?.pattern">
                        Student ID needs to be numeric.
                        </div>
                        <div *ngIf="studentID.errors?.required">
                        Student ID is required.
                        </div>
                        <div *ngIf="studentID.errors?.minlength">
                        Student ID must be 6 digits long.
                        </div>
                        <div *ngIf="studentID.errors?.forbiddenName">
                        Student ID cannot be.
                        </div>
                
                    </div>
                </div>
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">Email</label> -->
                    <label for="email" class="form-label text-dark">Email</label>
                    <input type="text" name="email" class="form-control border border-dark bg-dark"
                    required minlength="7" pattern ="[a-zA-Z ]*"
                    [(ngModel)]="newStudent.email" #email="ngModel">
                    
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert">
                    
                    <div *ngIf="email.errors?.pattern">
                        Email needs to be a string.
                        </div>
                
                        <div *ngIf="email.errors?.required">
                        Email is required.
                        </div>
                        <div *ngIf="email.errors?.minlength">
                        Email must be at least 7 characters long.
                        </div>
                        <div *ngIf="email.errors?.forbiddenName">
                        Email cannot be.
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="row g-3 justify-content-evenly">
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">Grade Level</label> -->
                    <label for="gradeLevel" class="form-label text-dark">Grade Level</label>
                    <input type="number" id="gradeLevel" name="gradeLevel" class="form-control border border-dark bg-dark"
                    required minlength="4" pattern="^[1-9]*$"
                    [(ngModel)]="newStudent.gradeLevel" #gradeLevel="ngModel">
                    
                    <div *ngIf="gradeLevel.invalid && (gradeLevel.dirty || gradeLevel.touched)"
                    class="alert">
                        <div *ngIf="gradeLevel.errors?.pattern">
                        Grade Level cannot be zero.
                        </div>
                        <div *ngIf="gradeLevel.errors?.required">
                        Grade Level is required.
                        </div>
                        <!-- <div *ngIf="email.errors?.minlength">
                        Email must be at least 4 characters long.
                        </div> -->
                    </div>
                </div>
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">DOB</label> -->
                    <label for="dateOfBirth" class="form-label text-dark">DOB</label>
                    <input type="text" id="dateOfBirth" name="dateOfBirth" class="form-control form-control bg-dark"
                    required minlength="8"
                    [(ngModel)]="newStudent.dateOfBirth" #dateOfBirth="ngModel">
                    
                    <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)"
                    class="alert">

                    <!-- <div *ngIf="dateOfBirth.errors?.pattern">
                        DOB needs to be a string.
                        </div> -->
                        <div *ngIf="dateOfBirth.errors?.required">
                            DOB is required.
                        </div>
                        <div *ngIf="dateOfBirth.errors?.minlength">
                            DOB must be at least 4 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 justify-content-evenly">
                <div class="col-3">
                    <!-- <label *ngIf="isEditing" class="form-label text-light">Emergency Contact #</label> -->
                    <label for="emergencyContactNumber" class="form-label text-dark">Emergency Contact #</label>
                    <input type="text" id="emergencyContactNumber" name="emergencyContactNumber" class="form-control border border-dark bg-dark"
                    required minlength="12"
                    [(ngModel)]="newStudent.emergencyContactNumber" #emergencyContactNumber="ngModel">
                    
                    <div *ngIf="emergencyContactNumber.invalid && (emergencyContactNumber.dirty || emergencyContactNumber.touched)"
                    class="alert">
                        <div *ngIf="emergencyContactNumber.errors?.required">
                        Emergency Contact Number is required.
                        </div>
                        <div *ngIf="emergencyContactNumber.errors?.minlength">
                        Emergency Contact Number must be at least 4 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 d-flex justify-content-xxl-evenly">
                <div class="col-4 g-3 d-flex justify-content-xxl-evenly">        
                    <button *ngIf="!isEditing" type="submit" class="btn btn-lg btn-success" id="save">Create</button>
                    <button *ngIf="isEditing" type="submit" class="btn btn-lg btn-primary" id="update">Update</button>
                </div>
                <div class="col-4 g-3 d-flex justify-content-xxl-evenly">
                    <a routerLink="/students" class="btn btn-lg btn-warning">Cancel</a>
                </div>
                <div class="col-4 g-3 d-flex justify-content-xxl-evenly">
                    <button (click)="deletedStudent(newStudent.id)" class="btn btn-lg btn-danger">Delete</button>
                </div>
                <div class="row g-3 justify-content-xxl-evenly bg-light">
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- <div class="row g-3 d-flex justify-content-xxl-evenly">
        <a href="#add-beg">Back To Top</a>
    </div> -->
<!-- </div> -->
