<!-- <div class="container">
    <nav class="navbar navbar-secondary bg-secondary flex-column flex-sm-row">
        <div class="container-fluid">
        <a class="navbar-brand flex-sm-fill text-sm-left text-light">SADSD Information Management System</a>
        <form class="form-inline d-flex flex-column flex-sm-row">
        <input class="form-control me-2 flex-sm-fill text-sm-left" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0 flex-sm-fill text-sm-left" type="submit">Search</button>
        </form>
    </div>
    </nav>
</div> -->

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the</h1>
        <h1 class="display-4">Student Records Management Application</h1>
        <p class="lead">Please remember that student information is CONFIDENTIAL!</p>
        <p class="lead">Only for authorized personnel conducting official San Antonio Independent School District (SAISD) business.</p>
    </div>
</div> -->
<style>

    body {
    /* background-color: #87ceeb; */
    background-color: lightyellow;
    }

    footer {
    /* background-color: #87ceeb; */
    color: lightyellow;
    }

</style>
<body>
    

<!-- <a name="top"></a> -->

<!--  *CAREFUL WITH THIS ONE!!! DO NOT ERASE OR DISABLE!!!* -->

<router-outlet></router-outlet> <!-- CAN'T TOUCH THIS! -->


<!-- <div class="container"> -->
    <footer class="footer mt-auto bg-dark">
        <div class="container">
            <p><span>SADSD</span></p>
            <p><span>513 M. Welby St.</span></p>
            <p><span>San Antonio, Texas 78221</span></p>
            <p><span>Tel: 210.556.3300</span></p>
        </div>
        <div class="container">
            <span>
                Copyright © 2021 San Antonio Dependent School District. All rights reserved.
            </span>
        </div>
        <!-- <a href="#top" class="text-light">Back to top of page</a> -->
    </footer>
<!-- </div> -->
</body>